-# How wide are our embeddables stacked?
- el = page.embeddables.length
- ec = ["questions"]
- ec << "full-width" unless page.show_interactive && !page.fullwidth_interactive
- ec << "two" if ec.include?("full-width") && (el%2 == 0 || el%3 == 1)
- ec << "three" if !ec.include?("two") && ec.include?("full-width")
- embeddable_classes = ec.join(" ")
%div{:class => embeddable_classes}
  - page.embeddables.each do |e|
    .embeddable
      = render :partial => "#{e.class.name.underscore.pluralize}/lightweight", :locals => {:embeddable => e}
